@inherits LayoutComponentBase

<div class="app-layout">
    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>

    <footer class="app-tabbar-shell">
        <NavMenu />
    </footer>
</div>