<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="app-tabbar" aria-label="Основная навигация">
        <NavLink class="app-tab" href="" Match="NavLinkMatch.All" title="Home" aria-label="Home">
            <span class="app-tab-icon icon-home" aria-hidden="true"></span>
        </NavLink>

        <NavLink class="app-tab" href="notes" title="Notes" aria-label="Notes">
            <span class="app-tab-icon icon-notes" aria-hidden="true"></span>
        </NavLink>
    </nav>
</div>